In [ ]:
/* Write your T-SQL query statement below */
/*
--Solution 01
select max(salary) as SecondHighestSalary
from employee
where salary < (select max(salary) from employee)
*/

--Solution 02
select max(salary) as SecondHighestSalary
from 
(
    select dense_rank() over (order by salary desc) as top_rank, salary
    from employee
) new_employee
where new_employee.top_rank = 2