In [ ]:
/* Write your T-SQL query statement below */

select product_id, store, price  
from  
   (select product_Id, store1, store2, store3 from Products) p  
    UNPIVOT
   (price for store in (store1, store2, store3)) as unpvt;