In [ ]:
/* Write your T-SQL query statement below */



select employee_id, case when employee_id%2 <> 0 and not name like 'M%' then salary else 0 end as bonus
from employees